@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

:root {
    --redPlayerCardColour: #F11248;
    --bluePlayerCardColour: #15B5FF;
    --grayPickBanTextColour: #909090;

    --blue: #16b3f8;
    --red: #ed144a;
    --purple: #8815f4;
    --grey: #959595;
    --yellow: #ffd75f;

    --map-clip-path: polygon(0% 13%, 51% 0%, 100% 0%, 100% 87%,45% 100%, 0% 100%);
    --two-bans-width: 350px;
    --one-ban-width: 175px;
}

body,
html {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/picksBansPNG.png");
    background-size: cover;
}

.playerCardStartLeft { position: absolute; left: 190px; }

/* Player Cards */
.playerCard {
    position: absolute; 
    width: 533px; height: 179px;
}
#playerCardRed {
    top: 54px;
    border-radius: 0 30px 6px 0;
}
#playerCardBlue {
    bottom: 51px;
    border-radius: 0 6px 30px 0;
}

/* Player Profile Pictures*/
.playerCardProfilePicture {
    position: absolute; top: 15px; left: 18px;
    width: 144px; height: 144px;
    border-radius: 100%;
}

/* Player Names */
.playerCardPlayerName {
    top: 21px;
    font-size: 25px; font-family: 'Lexend', sans-serif;
}
#playerCardPlayerNameRed { color: var(--redPlayerCardColour); }
#playerCardPlayerNameBlue { color: var(--bluePlayerCardColour); }

/* Player Quootes */
.playerCardPlayerQuote {
    font-family: 'Lexend', sans-serif; font-size: 19px;
    top: 52px;
    letter-spacing: 0.3px;
}

/* Player Country */
.playerCardPlayerCountryText {
    top: 87px;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
}
.playerCardPlayerCountryFlag {
    position: absolute; top: 117px;
    background-color: black;
    width: 65px; height: 33px;
    border-radius: 7px;
}

/* Player Rank */
.playerCardPlayerRankText {
    position: absolute; top: 87px; left: 314px;
    font-family: 'Lexend', sans-serif; font-size: 15px;
}
.playerCardPlayerRank {
    position: absolute; top: 109px; left: 314px;
    font-family: 'Lexend', sans-serif; font-size: 35px;
}

/* Pick Ban Order */
.pickBanOrderText {
    position: absolute; top: 25px; right: 22px;
    font-family: 'Lexend', sans-serif; font-size: 15px;
    text-align: center;
}
.firstPickText { margin-bottom: 3px; }
#redFirstPickText { color: var(--grayPickBanTextColour); }
#redFirstBanText { color: var(--redPlayerCardColour); }
#blueFirstPickText { color: var(--bluePlayerCardColour); }
#blueFirstBanText { color: var(--grayPickBanTextColour); }

/* Match Score Section */
.matchScoreSection {
    position: absolute;
    width: 510px; height: 62px;
}
#matchScoreRed { top: 253px; }
#matchScoreBlue { bottom: 252.5px; }
.matchScoreContainer {
    width: 434px; height: inherit;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 17%, 97% 0%);
}
.matchScores {
    position: absolute; top: 15px; left: 33px;
    display: flex;
}
.matchScoreSword { width: 32px; height: 32px; margin-right: 20px; }

/* ---------- Pick Area ---------- */

#redPicksBans {
    position: absolute; height: 460px; width: 1385px;
    right: 0px;
    top: 80px;
    display: flex;
    justify-content: flex-start;
}

#bluePicksBans {
    position: absolute; height: 460px; width: 1385px;
    right: 0px;
    bottom: 80px;
    display: flex;
    justify-content: flex-start;
}

#blueBanArea {
    justify-content: center;
}

#redBanArea {
    justify-content: space-between;
}

.banArea {
    height: 460px;
    width: var(--two-bans-width);
    display: flex;
    align-items: center;
    background-color: transparent;
}

.pickArea {
    height: 460px;
    width: 880px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
}

.mapCard {
    position: relative;
    width: 85px;
    height: 330px;
    background-size: cover;
    margin: 0 20px;
}

.pickCardBlue { background-image: url("../static/tile-box-blue.png");}

.banCardBlue { background-image: url("../static/blue-ban-tile.png");}

.pickCardRed { background-image: url("../static/tile-box-red.png");}

.banCardRed { background-image: url("../static/red-ban-tile.png");}

.mapCardContent {
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 1;
    width: 81px;
    height: 326px;
    /* clip-path: polygon(0% 13%, 51% 0%, 100% 0%, 100% 87%,45% 100%, 0% 100%); */
    z-index: 0;
    margin: 2px;
}

.tile-picking {
  position: absolute;
  top: 40px;
  width: 75px;
  height: 240px;
  background-color: transparent;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  justify-content: top;
  align-items: center;
  margin: 5px;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  font-size: 22px;
  letter-spacing: -5px;
}

.tile-picking::after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
}

#map-slot-block {
  clip-path: polygon(0% 45%, 59% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: var(--blue);
  position: absolute;
  height: 87px;
  width: 66px;
  margin: 10px;
  opacity: 0;
}

.map-slot-content {
  position: absolute;
  text-align: center;
  width: 100%; 
  bottom: 5%;  
  font-family: 'IBM Plex Mono', monospace;
  font-size: 23px;
  color: white;
  letter-spacing: 2px;
}