:root {
    --lightGray: #C2C2C2;
    --lightYellow: #ffe696;
    --lighterYellow: #ffe292;
    --blue: #15b5ff;
    --red: #ed144a;
    --darkGray: #121212;

    --player1Color: #f11247;
    --player2Color: #2cf112;
    --player3Color: #f1d912;
    --player4Color: #f1127b;
    --player5Color: #125bf1;
    --player6Color: #f16612;
    --player7Color: #12eef1;
    --player8Color: #9512f1;

    --numberOnePlaceColour: #f1d912;
    --numberTwoPlaceColour: #89f5ff;
    --numberThreePlaceColour: #ff9b42;
}

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/brGameplayPNG.png"); background-size: cover;
}

/* Top Section */
#topSection { width: 1920px; height: 152px; }

/* Map Background */
#topBackground {
    position: absolute;
    left: 747px; width: 900px; height: inherit;
    background-position: 50%;
    background-size: cover;
    background-image: url("https://assets.ppy.sh/beatmaps/1843748/covers/cover.jpg");
}
#topBackgroundOverlay {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    background-color: rgba(0,0,0,0.7)
}

/* Map Stats */
#mapStatsLeft { 
    position: absolute; top: 21px; left: 1246px;;
    width: 145px;
}
#mapStatsRight {
    position: absolute; top: 21px; right: 367px;
    width: 160px;
}
.topLineStatBox {
    width: 67px; height: 61px;
    display: inline-block;
    margin-right: 2px;
}
.mapStatsTexts {
    width: inherit; 
    font-family: 'Lexend'; 
    font-weight: 600; 
    text-align: center;
}
.mapStatsTitle {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    background-color: white;
}
.mapStatsNumber {
    height: 39px;
    line-height: 39px;
    font-size: 28px;
    background-color: var(--lightYellow)
}
#BPMStat { 
    width: 85px; 
    background-color: var(--lightGray);
}
#SRStat {
    position: absolute; top: 73px;
    background-color: white;
    font-family: 'Lexend'; font-size: 20px; font-weight: 600; 
    padding: 3px 15.5px;
}
#mapModSlot {
    position: absolute; top: 73px; right: 0;
    width: 80px; height: 32px;
    background-color: var(--red);
    color: white;
    font-family: 'Lexend'; font-size: 24px; font-weight: 600; 
    line-height: 31px;
    text-align: center;
}

/* Current Map */
#currentMap {
    position: absolute; left: 825px; top: 21px; width: 403px;
    font-family: 'Lexend'; font-weight: 600; 
}
#currentMapText {
    position: absolute; top: 4px; left: 50%; transform: translateX(-50%);
    font-size: 20px;
    background-color: white;
    padding: 0.5px 12px;
}
#currentSongArtistandNameWrapper {
    position: absolute; top: 36px; left: 50%; transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 375px; height: 31px;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: center;
}
#currentSongArtistandName {
    color: white;
    display: inline-block;
	width: max-content;
}
.currentSongArtistandNameWrap {
    transform: translateX(-375px);
    animation: currentSongArtistandNameWrap 15s linear infinite;
}
@keyframes currentSongArtistandNameWrap {
    0% {transform: translateX(0px);}
    11% {transform: translateX(0px);}
    80% { transform: translateX(calc(-100% + 375px)); }
    100% { transform: translateX(calc(-100% + 375px)); }
}
#currentMapDifficulty {
    position: absolute; top: 68px; left: 50%; transform: translateX(-50%);
    color: var(--lighterYellow);
    font-size: 17px;
    letter-spacing: 1.2px;
    width: max-content;
}
#currentMapSetCreator {
    position: absolute; top: 91px; left: 50%; transform: translateX(-50%);
    color: var(--blue);
    font-size: 18px;
    letter-spacing: 2px;
    width: max-content;
}

/* Commentators */
#commentators { font-family: 'Lexend'; font-weight: 600; }
#commentatorText {
    position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%);
    font-size: 17px;
    letter-spacing: 3px;
    background-color: var(--lightYellow);
    color: var(--darkGray);
    padding: 6px 6px 6px 9px;
}
.commentatorName {
    position: absolute; bottom: 8px;
    color: white;
    letter-spacing: 1px;
}
#commentatorName1 { right: 1100px; }
#commentatorName2 { left: 1100px; }

/* Player Containers and Scores */
.sidePlayersContainer {
    position: absolute; bottom: 0;
    width: 260px; height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#leftSidePlayers { left: 0; }
#rightSidePlayers { right: 0; }
.playerContainer {
    margin-left: 15px; 
    flex-grow: 1;
}
.playerContainerRight {  margin-right: 15px; }
.playerWrapper { 
    position: relative; top: 50%; transform: translateY(-50%);
    height: 45px;
}
.playerName { 
    font-family: 'Lexend'; font-weight: 800; font-size: 17px;
    width: 160px; height: 20px;
}
.playerScore { 
    font-family: 'Lexend'; font-weight: 400; font-size: 17px;
    color: white;
    letter-spacing: 1px;
    width: 160px;
}
.playerRank {
    font-family: 'IBM Plex Mono', monospace; font-size: 24px;
    color: white;
}
.playerRankLeft { position: absolute; left: 168px; transform: translateY(-120%);  }
.playerRankRight { position: relative; top: 50%; left: 10px; transform: translateY(-50%); }
.playerDetailsRight { text-align: right; }
.floatRight { float: right; }

/* Score Progress */
#scoreProgress {
    position: absolute; bottom: 0; left: 300px;
    width: 1350px;  height: 205px;
    transition: 500ms ease-in-out;
}
/* Bars */
#lowerBars {
    position: absolute; left: 74px; bottom: 69px;
    width: 1171px; height: 13px;
}
.playerBar {
    position: absolute; top: 0; left: 0;
    height: inherit;
    transition: 200ms ease-in-out;
}
.grayBar {
    width: inherit;
    background-color: gray;
}
/* Profile */
.avatar {
    position: absolute; top: 17px; left: 33px;
    width: 83px; height: 92px;
    transition: 200ms ease-in-out;
}
.profilePicture {
    position: absolute; top: 0; left: 0;
    width: 78px; height: 78px;
    border: 3px solid;
    background-color: black;
    background-size: cover;
}
.profilePictureBottomRightBorder {
    position: absolute; right: -18px; bottom: -7px;
    width: 0px; height: 0px;
    border: 18px solid;
    transform: rotate(45deg)
}
.triangle {
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%) rotate(45deg);
    width: 18px; height: 18px;
}
/* Bottom Scores */
#bottomScoreZero {
    position: absolute; top: 141px; left: 74px;
    font-family: 'IBM Plex Mono', monospace; font-size: 32px;
    color: white;
}
#bottomScoreMax {
    position: absolute; top: 143px; left: 1245px; transform: translateX(-50%);
    font-family: 'IBM Plex Mono', monospace; font-size: 25px;
    color: var(--lighterYellow);
    letter-spacing: 1.5px;
}
/* Crown */
#bottomCrown {
    position: absolute; top: 120px; left: 1263px;
    width: 32px; height: 19px;
    transition: 0.2s ease-in-out;
}
#bottomCrownOverlay {
    position: absolute; top: 114px; left: 1257.55px; 
    width: 43.5px; height: 31px;
    transition: 0.2s ease-in-out;
}

/* Chat */
#chatDisplay {
    position: absolute; bottom: 42px; left: 50%; transform: translateX(-50%);
    width: 700px; height: 145px;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden; overflow-y: scroll;
    padding: 5px 12px;
    transition: ease-in-out 500ms;
    font-family: 'Lexend'; font-weight: 600px;
    transition: 500ms ease-in-out;
}
.messageWrapper {
	display: flex;
	text-align: left;
}
.messageTime {
	width: 10%;
	color: silver;
	padding-right: 10px;
    text-align: center;
}
.wholeMessage {
	display: flex;
}
.messageUser {
	color: white;
	white-space: nowrap;
    font-weight: 800px;
}
.messageText {
    color: white;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
/* Colours Taken From https://github.com/VictimCrasher/static/tree/master/WaveTournament */
.unknown { color: yellow; }
.bot { color: #FF66AA; }
.left { color: var(--red); }
.right { color: var(--blue); }

/* ::-webkit-scrollbar {  display: none; } */

/* Control Panel */
#controlPanel {
    position: absolute; left: 0; top: 1080px;
    width: 1920px; height: 300px;
    background-color: #121212;
}
.controlPanelItems { 
    position: absolute;
}
#controlPanelTitle {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 24px;
    width: inherit;
    text-align: center;
    color: white;
}
/* Commentators */
#controlPanelCommentators {
    width: 325px;
}
.controlPanelText {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 20px;
    width: inherit;
    text-align: center;
    color: white;
    font-weight: 600;
}
#commentatorNameInput1 { top: 115px; left: 60px; }
#commentatorNameInput2 { top: 155px; left: 60px; }
.controlPanelInput {
    border-radius: 20px;
    text-align: center;
    font-family: Lexend; font-weight: 400; font-size: 20px;
    width: 200px;
}
#changeCommentatorNames {
    background-color: transparent;
    border: 5px solid white; border-radius: 25px;
    color: white;
    top: 200px;
    left: 62px;
    font-family: Lexend; font-weight: 400; font-size: 18px;
    width: 200px;
    padding: 5px 20px;
}
#changeCommentatorNames:active {
    background-color: white;
    border: 5px solid white;
    color: black;
}