:root {
    --lightGray: #C2C2C2;
    --lightYellow: #ffe696;
    --lighterYellow: #ffe292;
    --blue: #15b5ff;
    --red: #ed144a;
}

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/brGameplayPNG.png"); background-size: cover;
}

/* Top Section */
#topSection { width: 1920px; height: 152px; }

/* Map Background */
#topBackground {
    position: absolute;
    left: 747px; width: 900px; height: inherit;
    background-position: 50%;
    background-size: cover;
    background-image: url("https://assets.ppy.sh/beatmaps/1843748/covers/cover.jpg");
}
#topBackgroundOverlay {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    background-color: rgba(0,0,0,0.7)
}

/* Map Stats */
#mapStatsLeft { 
    position: absolute; top: 21px; left: 837px;
    width: 145px;
}
#mapStatsRight {
    position: absolute; top: 21px; right: 362px;
    width: 160px;
}
.topLineStatBox {
    width: 67px; height: 61px;
    display: inline-block;
    margin-right: 2px;
}
.mapStatsTexts {
    width: inherit; 
    font-family: 'Lexend'; 
    text-align: center;
}
.mapStatsTitle {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    background-color: white;
}
.mapStatsNumber {
    height: 39px;
    line-height: 39px;
    font-size: 28px;
    background-color: var(--lightYellow)
}
#BPMStat { 
    width: 85px; 
    background-color: var(--lightGray);
}
#bpmStatNumber { background-color: var(--lightGray); }
#SRStat {
    position: absolute; top: 73px;
    background-color: white;
    font-family: 'Lexend'; font-size: 20px;
    padding: 3px 15.5px;
}
#mapModSlot {
    position: absolute; top: 73px; right: 0;
    width: 80px; height: 32px;
    background-color: var(--red);
    color: white;
    font-family: 'Lexend'; font-size: 24px;
    line-height: 31px;
    text-align: center;
}

/* Current Map */
#currentMap {
    position: absolute; left: 982px; top: 21px; width: 403px;
    font-family: 'Lexend';
}
#currentMapText {
    position: absolute; top: 4px; left: 50%; transform: translateX(-50%);
    font-size: 20px;
    background-color: white;
    padding: 0.5px 12px;
}
#currentSongArtistandName {
    position: absolute; top: 36px; left: 50%; transform: translateX(-50%);
    color: white;
    font-size: 23px;
    width: max-content;
    letter-spacing: 3px;
}
#currentMapDifficulty {
    position: absolute; top: 65px; left: 50%; transform: translateX(-50%);
    color: var(--lighterYellow);
    font-size: 17px;
    letter-spacing: 1.2px;
    width: max-content;
}
#currentMapSetCreator {
    position: absolute; top: 91px; left: 50%; transform: translateX(-50%);
    color: var(--blue);
    font-size: 18px;
    letter-spacing: 2px;
    width: max-content;
}