:root {
    --borderGray: rgba(102,102,102,1);
    --backgroundGray: rgba(18,18,18,1);
    --elementGray: rgba(57,57,57,1);
    --elementGrayOverlay: rgba(57,57,57,0.5);
    --textGray: rgba(166,166,166,1);

    --borderRed: rgba(241,18,72,1);
    --textGold: rgba(255,226,146,1);
}

#main {
    position: absolute; top: 0; left: 0;
    background-size: cover;
    background-image: url("../static/BRBracketPNG.png");
    width: 1920px; height: 1080px; 
}

/* Side Players */
.playerSideSections {
    position: absolute; top: 280px; 
    width: 412px; height: 684px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#playersLeft { left: 50px; }
#playersRight { right: 50px; }
/* Player Element */
.sidePlayer {
    width: 411px; height: 65px;
    background-color: var(--borderGray);
    border-radius: 3px;
}
.leftSidePlayer { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%, 0% 45%); }
.rightSidePlayer { clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 91% 100%, 0% 100%); }
/* Overlay Element */
.sidePlayerOverlay {
    position: relative; top: 3px; left: 3px;
    width: 406px; height: 60px;
    background-color: var(--backgroundGray);
}
.leftSidePlayerOverlay { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8.5% 100%, 0% 43%); }
.rightSidePlayerOverlay { clip-path: polygon(0% 0%, 0% 100%, 91.5% 100%, 100% 43%, 100% 0%); }
/* Seed Element */
.sidePlayerSeeding {
    position: relative; top: -51px; 
    background-color: var(--elementGray);
    color: var(--textGray);
    width: 91px; height: 48px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace; font-size: 32px;
    line-height: 48px;
}
.leftSidePlayerSeeding {
    left: 9px;
    clip-path: polygon(0% 0%, 68% 0%, 100% 57%, 100% 100%, 36% 100%, 0% 33%);
}
.rightSidePlayerSeeding {
    left: 314px;
    clip-path: polygon(100% 0%,36% 0%, 0% 57%, 0% 100%, 64% 100%, 100% 33%);
}
/* Country */
.sidePlayerFlag {
    position: relative; top: -91px; 
    background-color: var(--elementGray);
    width: 44px; height: 29px;
    border-radius: 6px;
    background-size: cover;
}
.leftSidePlayerFlag { left: 122px; }
.rightSidePlayerFlag { left: 248px; }
/* Player Name */
.sidePlayerName {
    position: relative; top: -114.5px; 
    color: var(--textGray);
    font-family: 'Lexend', sans-serif; font-weight: 800; font-size: 15.3px;
    letter-spacing: 1.5px;
}
.leftSidePlayerName { left: 188px; }
.rightSidePlayerName { 
    left: 63px;
    width: 163px; text-align: right;
}
/* Profile Picture */
.sideProfilePicture {
    position: relative;  top: -153px;
    width: 60px; height: 60px;
    background-color: var(--elementGray);
    background-size: cover;
}
.leftSideProfilePicture { 
    left: 347px;
    border-left: 2px solid var(--borderGray);
}
.rightSideProfilePicture { 
    left: 3px; 
    border-right: 2px solid var(--borderGray);
}
.flagAndProfilePictureOverlay {
    position: relative; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--elementGrayOverlay);
}

/* Now Playing Section */
#nowPlayingSection {
    position: absolute; bottom: 0;
    width: inherit; height: 78px;
    font-family: 'Lexend', sans-serif; font-size: 24px;
    font-weight: 600;
    line-height: 78px;
}
#nowPlayingText { position: absolute; right: 28px; }
#nowPlayingSongArtist {
    position: absolute; right: 247px;
    color: white;
}

/* Middle Section */
#playersMiddle {
    position: absolute; width: 1920px; top: 593px; text-align: center;
}
/* Middle Player Border*/
.middlePlayer {
    display: inline-block;
    margin: 0px 40px;
    background-color: var(--borderGray);
    width: 365px; height: 58px;
    border-radius: 2px;
}
.leftMiddlePlayer { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%, 0% 50%); }
.rightMiddlePlayer { clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 92% 100%, 0% 100%); }
/* Middle Player Overlay */
.middlePlayerOverlay {
    background-color: var(--backgroundGray);
    position: relative; left: 2px; top: 2px;
    width: 361px; height: 54px;
}
/* Middle Player Seeding */
.middlePlayerSeeding {
    position: relative; top: -47px;
    width: 82px; height: 44px;
    background-color: var(--elementGray);
    line-height: 44px;
    font-family: 'IBM Plex Mono', monospace; font-size: 28px;
    color: var(--textGray);
}
.leftMiddlePlayerSeeding { 
    left: 6px;
    clip-path: polygon(0% 0%, 69% 0%, 100% 58%, 100% 100%, 32% 100%, 0% 42%); 
}
.rightMiddlePlayerSeeding { 
    left: 277px;
    clip-path: polygon(100% 0%, 32% 0%, 0% 58%, 0% 100%, 70% 100%, 100% 42%);
}
/* Middle Player Flag */
.middlePlayerFlag {
    position: relative; top: -84px;
    width: 40px; height: 27px;
    border-radius: 5px;
    background-color: var(--elementGray);
    background-size: cover;
}
.leftMiddlePlayerFlag { left: 107px; }
.rightMiddlePlayerFlag { left: 218px; }
/* Middle Player Name */
.middlePlayerName {
    position: relative; top: -106px;
    text-align: left;
    font-family: Lexend; font-weight: 800; font-size: 14px;
    letter-spacing: 1.2px;
    color: var(--textGray);
}
.leftMiddlePlayerName { left: 166px; }
.rightMiddlePlayerName {
    width: 200px;
    text-align: right;
}
/* Middle Player Profile Picture */
.middleProfilePicture {
    position: relative; top: -141px; 
    width: 54px; height: 54px;
    background-color: var(--elementGray);
    background-size: cover;
}
.leftMiddleProfilePicture {
    left: 307px;
    border-left: 2px solid var(--borderGray);
}
.rightMiddleProfilePicture {
    left: 2px;
    border-right: 2px solid var(--borderGray);
}

/* Winner Section */
#playersWinner {
    position: absolute; top: 319px; width: 1920px; text-align: center;
}
.winnerPlayer {
    position: absolute; left: 50%; transform: translateX(-50%);
    display: inline-block;
    background-color: var(--borderRed);
    width: 365px; height: 58px;
    border-radius: 2px;
    margin: 0;
}
.winnerPlayerSeeding { 
    background-color: var(--borderRed);
    color: white;
}
.winnerPlayerName { color: var(--textGold); }
.winnerPlayerProfilePicture { border-color: var(--borderRed); }

/* Winner Text */
#winnerText {
    position: absolute; top: 290px;
    width: 1920px;
    text-align: center;
}
.winnerText {
    font-family: Lexend; font-weight: 800; font-size: 17px;
    margin: 0px 89px;
    color: white;
    display: inline-block;
    letter-spacing: 2px;
}

/* Winner Screen SVGs */
.sideLineSVGs { position: absolute; top: 280px; }
#leftLines { left: 460px; }
#rightLines { right: 460px; }
#middleLines {
    position: absolute;
    left: 50%;
    top: 377px;
    transform: translate(-50%);
}