:root {
    --borderGray: rgba(102,102,102,1);
    --backgroundGray: rgba(18,18,18,1);
    --elementGray: rgba(57,57,57,1);
    --elementGrayOverlay: rgba(57,57,57,0.5);
    --textGray: rgba(166,166,166,1);

    --borderRed: rgba(241,18,72,1);
    --textGold: rgba(255,226,146,1);
}

#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
}
.bracketWhole {
    position: absolute; left: 0; top: 0;
    width: inherit; height: inherit;
    background-size: cover;
    transition: 750ms ease-in-out;
}
#upperBracket { background-image: url("../static/roundtableBracketPNG.png");  }
#lowerBracket { 
    background-image: url("../static/roundtableLoserBracketPNG.png"); 
    opacity: 0;
}

/* Lower Bracket Rounds */
.lowerBracketRound {
    position: absolute; 
    width: 316px;
    display: flex; flex-direction: column;  justify-content: space-between;
}
.lowerBracketRounds1And2 { height: 608px; }
#lowerBracketRound1 { top: 317px; left: 49px; }
#lowerBracketRound2 { top: 280px; left: 406px; }
#lowerBracketRound3 {
    top: 364px; left: 760px;
    height: 439px;
}
#lowerBracketRound4 {
    top: 329px; left: 1118px;
    height: 439px;
}
#lowerBracketRound5 {
    top: 485px; left: 1475px;
    height: 120px;
}
#lowerBracketRound6 {
    position: absolute;
    top: 204px; right: 36px;
    width: 50px; height: 687px;
}


/* Lower Bracket Round Lines */
.lowerBracketRounds1And2Lines {
    position: absolute; 
    width: 44px; height: 608px;
    display: flex; flex-direction: column; justify-content: space-between;
}
#lowerBracketRound1Lines { top: 317px; left: 365px; }
#lowerBracketRound2Lines { top: 280px; left: 722px; }
#lowerBracketRound3Lines {
    position: absolute; top: 364px; left: 1076px;
    display: flex; flex-direction: column; justify-content: space-between;
    height: 439px;
}
#lowerBracketRound4Lines {
    position: absolute; top: 329px; left: 1434px;
    display: flex; flex-direction: column; justify-content: space-between;
    height: 439px;
}

/* Lower Bracket Round 1 Matches */
.lowerBracketRound1Match { 
    height: 120px;
    display: flex; flex-direction: column; justify-content: space-between;
}

/* Lower Bracket Players */
.lowerBracketPlayer {
    background-color: var(--borderGray);
    width: inherit; height: 51px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8.15% 100%, 0% 50%);
    border-radius: 3px;
}
.lowerBracketPlayerOverlay {
    position: relative; top: 2px; left: 2px;
    background-color: var(--backgroundGray);
    width: 312px; height: 47px;
    line-height: 47px;
    border-radius: 2px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%, 0% 48%);
}
.lowerBracketPlayerScore {
    position: relative; top: -40.4px; left: 6.4px;
    background-color: var(--elementGray);
    width: 71.3px; height: 38px;
    clip-path: polygon(0% 0%, 68.6% 0%, 100% 59%, 100% 100%, 31.3% 100%, 0% 41%);
}
.lowerBracketPlayerFlag {
    position: relative; top: -72.6px; left: 93px;
    background-color: var(--elementGray);
    width: 34.3px; height: 24px;
    border-radius: 5px;
}
.flagOverlay { border-radius: 5px; }
.flagAndProfilePictureOverlay {
    position: relative; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--elementGrayOverlay);
}
.lowerBracketPlayerName {
    position: relative; top: -92px; left: 144px;
    color: white;
    font-family: 'Lexend', sans-serif; font-weight: 800; font-size: 12px;
    letter-spacing: 1px;
}
.lowerBracketPlayerProfilePicture {
    position: relative; top: -121.5px; left: 265.5px;
    background-color: var(--elementGray);
    width: 46.5px; height: 46.5px;
    border-left: 2px solid var(--borderGray);
}
/* Lower Bracket Finals */
#match29 {
    display: flex; flex-direction: column;  justify-content: space-between;
    height: inherit;
}
.lowerBracketFinalsPlayer {
    width: inherit; height: 308px;
    border-radius: 5px;
    background-color: var(--borderGray);
}
#match29Player1 { clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 8.7%, 52% 0%); }
#match29Player2 { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 52% 100%, 0% 91.3%); }
.lowerBracketFinalsPlayerOverlay {
    position: relative; top: 2.9px; left: 3px;
    background-color: var(--backgroundGray);
    width: 45px; height: 303px;
}
#match29Player1Overlay { clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 8%, 53% 0%); }
#match29Player2Overlay { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 54% 100%, 0% 92%); }
.match29PlayerScore {
    position: relative; left: 7px;
    width: 37px; height: 69px;
    line-height: 69px;
    background-color: var(--elementGray);
}
#match29Player1Score {
    top: -295.5px;
    clip-path: polygon(100% 0%, 100% 69%,42% 100%, 0% 100%, 0% 32%, 60% 0%);
}
#match29Player2Score {
    top: -69.5px;
    clip-path: polygon(0% 0%, 0% 69%, 58% 100%, 100% 100%, 100% 32%, 40% 0%);
}
.match29PlayerFlag {
    position: relative; left: 10px;
    border-radius: 5px;
    background-color: var(--elementGray);
    width: 33.5px; height: 23px;
}
#match29Player1Flag { top: -274.5px; }
#match29Player2Flag { top: -182px; }
.match29PlayerName {
    position: relative; 
    left: 19px;
    border-radius: 5px;
    width: 10px; height: 128px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -2px;
    font-family: Lexend; font-size: 10px;
    text-align: center;
    color: white;
    overflow-y: hidden;
}
.match29PlayerName::-webkit-scrollbar { display: none; }
#match29Player1Name { top: -269.5px; }
#match29Player2Name { top: -339px; }
.match29PlayerProfilePicture {
    position: relative; left: 2.75px;
    width: 45.5px; height: 45.5px;
    background-color: var(--elementGray);
    border-top: 2px solid var(--borderGray);
}
#match29Player1ProfilePicture { 
    top: -264.5px; 
    border-top: 2px solid var(--borderGray);
}
#match29Player2ProfilePicture { 
    top: -520.5px;  
    border-bottom: 2px solid var(--borderGray);
}

/* Now Playing Section */
#nowPlayingSection {
    position: absolute; bottom: 0;
    width: inherit; height: 78px;
    font-family: 'Lexend', sans-serif; font-size: 24px; font-weight: 700;
    line-height: 78px;
}
#nowPlayingDivider { 
    position: absolute; right: 227px;
    line-height: 73px;
    color: white;
}
#nowPlayingText { 
    position: absolute; right: 32px;
    letter-spacing: -.3px;
}
#nowPlayingSongArtist {
    position: absolute; right: 252px;
    color: white;
    letter-spacing: -.2px;
}

/* Control Panel */
#controlPanel {
    position: absolute; left: 0; top: 1080px;
    width: 1920px; height: 200px;
    background-color: #121212;
    display: flex;
}
.controlPanelButton {
    width: 150px; height: 150px; margin: 25px;
    width: 150px; height: 150px;
    margin: 25px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 5px solid white; border-radius: 20px;
}
.controlPanelButton:active {
    color: black;
    background-color: white;
}