:root {
    --blue: #16b3f8;
    --lightGray: #C2C2C2;
    --red: #ed144a;
    --yellow: #fff692;
    --mapDifficultyYellow: #ffe292;
    --commentatorYellow: #FFE393;
    --lightYellow: #ffe696;
    --reallyDarkGray: #202020;
}

/* Video */
video { position: absolute; top: 0; left: 0; }

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
}
/* Top Section */
/* Player Detail Sections */
.playerLocation { position: absolute; top: 13px; }
#playerLeft { left: 308px; }
#playerRight { right: 308px; }

/* Player Details */
.playerRank{
    color: var(--yellow);
    font-family: 'Lexend'; font-size: 36px;
    letter-spacing: 4px;
}
#playerRightRank {
    position: absolute; right: 0; 
}

/* Player Name */
.playerName {
    width: 400px;
    position: absolute; top: 45px;
    font-family: 'IBM Plex Mono', monospace; font-size: 24px;
    color: white;
    letter-spacing: 4px;
}
#playerLeftName { left: 0; }
#playerRightName { right: 0; text-align: right; }

/* Map Pick Text */
.playerMapPickText {
    width: 130px;
    font-family: 'IBM Plex Mono', monospace; font-size: 20px;
    position: absolute; top: 17px;
    letter-spacing: 1.2px;
    display: none;
}
#playerLeftMapPickText { 
    color: var(--red); 
    left: 127px;
}
#playerRightMapPickText { 
    color: var(--blue); 
    right: 127px; 
    text-align: right; 
}

/* Match Scores Maps */
.playerMatchScore {
    position: absolute; top: 88px; 
    width: 400px;
    display: flex;
    transition: 500ms ease-in-out;   
}
#playerLeftMatchScore { left: 6px; }
#playerRightMatchScore {
    right: -8px;
    flex-direction: row-reverse
}
/* Match Score Containers */
.playerMatchScoreSword {
    width: 34px;
    margin-right: 14.7px;
}

/* Round Name */
#roundName {
    color: var(--reallyDarkGray);
    position: absolute; top: 64px; left: 50%; transform: translateX(-50%);
    font-family: 'Lexend';
    letter-spacing: 3px;
}

/* Commentators */
#commentators {
    font-family: 'Lexend';
    color: white;
}
.commentatorName {
    position: absolute; top: 127px;
    letter-spacing: 1px;
}
#commentatorName1 { right: 1100px; }
#commentatorName2 { left: 1100px; }
#commentatorText {
    position: absolute; top: 124px; left: 50%; transform: translateX(-50%);
    color: var(--reallyDarkGray);
    font-size: 18px;
    letter-spacing: 2px;
    background-color: var(--commentatorYellow);
    padding: 3px 31px 3px 33px;
}

/* Bottom Section */
/* Cover */
.positionAbsoluteInMiddle { position: absolute; left: 50%; transform: translateX(-50%); }
#bottomSection, #bottomBackground {
    bottom: 0; 
    width: 1182px; height: 205px;
    border: 2px 0px 0px 0px solid var(--yellow);
}
#bottomBackground {
    position: absolute; left: 50%; transform: translateX(-50%);
    z-index: -1;
    background-size:cover; background-position: 50%;
}
#bottomSectionOverlay {
    position: absolute; top: 0; left: 0;
    background-color: rgba(0,0,0,0.65);
    width: inherit; height: inherit;
}

/* Map Stats */
#mapStats { 
    position: absolute; top: 18px; left: 19px;
    width: 400px;
    opacity: 1; 
    transition: 500ms ease-in-out;
}
.topLineStatBox {
    width: 67px; height: 61px;
    display: inline-block;
    margin-right: 2px;
}
.mapStatsTexts {
    width: inherit; 
    font-family: 'Lexend'; 
    text-align: center;
}
.mapStatsTitle {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    background-color: white;
}
.mapStatsNumber {
    height: 39px;
    line-height: 39px;
    font-size: 28px;
    background-color: var(--lightYellow)
}
#BPMStat { 
    width: 85px; 
    background-color: var(--lightGray);
}
#SRStat {
    position: absolute; top: 73px;
    background-color: white;
    font-family: 'Lexend'; font-size: 20px;
    padding: 3px 15.5px;
}

/* Map Scores */ 
#mapScores {
    opacity: 1;
    transition: 500ms ease-in-out;
}
#mapScoreDifference {
    top: 20px;
    color: white;
    font-family: 'IBM Plex Mono', monospace; font-size: 24px;
}
#mapScoreDifferenceArrow {
    top: 43px;
    width: 0;height: 0;
    border: 11px solid;
    border-color: transparent white white transparent;
    transform: translateX(-50%) rotate(45deg);
}
.playerMapScore {
    position: absolute; top: 146px; 
    font-size: 31px;
    font-family: 'IBM Plex Mono', monospace; 
    color: white;
    letter-spacing: 5px;
}
#redMapScore { left: 383px; transform: translateX(-50%); }
#blueMapScore { right: 383px; transform: translateX(50%); }

/* Ellipse */
#equalEllipseContainer {
    bottom: 0;
    width: 936px; height: 130px;
}
#equalEllipse {
    position: absolute; top: 0; left: 50%; transform: translateX(-50%) rotate(-45deg);
    border-top-color: var(--red);
    border-left-color: var(--red);
    border-right-color: var(--blue);
    border-bottom-color: var(--blue);
    border-style: solid;
    border-width: 936px;
    border-radius:50%;
    transition: 200ms ease-in-out;
}
/* Sword */
#bottomSwordBackShadow {
    top: 97px;
    width: 71.5px; height: 43px;
}
#bottomSword {
    top: 101px;
    width: 56.5px; height: 31.5px;
}
/* Score Text */
#scoreText { 
    top: 155px; 
    width: 100px; height: 28.5px; 
}
#bottomScoreOutside { position: absolute; width: 100px; height: 28.5px; }
#bottomScoreOutsideText {
    position: absolute;
    width: inherit;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 28.5px;
    letter-spacing: 1px;
}

/* Map Details */
#mapDetails { 
    position: absolute; top: 17.5px; right: 16px;
    font-family: 'Lexend';
    opacity: 1; 
    transition: 500ms ease-in-out;
}
#currentPick {
    text-align: center;
    width: 161.5px; height: 25.5px;
    line-height: 25.5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    background-color: white;
}
.mapDetailInformation { position: absolute; right: 0; }
#mapArtistAndNameWrapper {
    top: 28px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 425px; height: 26px;
    font-size: 23px;
    letter-spacing: 2px;
    text-align: right;
}
#mapArtistAndName {
    color: white;
    display: inline-block;
	width: max-content;
}
.mapArtistAndNameWrap {
    animation: mapArtistAndNameWrap 15s linear infinite;
}
@keyframes mapArtistAndNameWrap {
    0% { transform: translateX(0px); }
    11% {transform: translateX(0px); }
    80% { transform: translateX(calc(-100% + 425px)); }
    100% { transform: translateX(calc(-100% + 425px)); }
}
#mapDifficultyWrapper {
    top: 58px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    letter-spacing: 1.5px;
    width: 375px; height: 20px;
    text-align: right;
}
#mapDifficulty {
    color: var(--mapDifficultyYellow);
    display: inline-block;
	width: max-content;
}
.mapDifficultyWrap {
    animation: mapDifficultyWrap 15s linear infinite;
}
@keyframes mapDifficultyWrap {
    0% { transform: translateX(0px); }
    11% {transform: translateX(0px); }
    80% { transform: translateX(calc(-100% + 375px)); }
    100% { transform: translateX(calc(-100% + 375px)); }
}
#mapSetCreator {
    top: 78px;
    color: var(--blue);
    font-size: 21px;
    width: 250px;
    text-align: right;
}
#mapModSlot {
    top: 115px;
    background-color: var(--red);
    color: white;
    width: 80px; height: 32px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}

/* Chat Display */
#chatDisplay {
    position: absolute;
    bottom: 0; right: 0;
    width: inherit; height: inherit;
    background-color: rgba(0,0,0,0.7);
    font-family: Lexend; font-size: 18px;
    overflow-x: hidden; overflow-y: scroll;
    transition: ease-in-out 500ms;
}
.messageWrapper {
    margin: 1.5px 5px 1.5px 5px;
	display: flex;
	text-align: left;
}
.messageTime {
	width: 5%;
	color: silver;
	padding-right: 10px;
    text-align: center;
}
.wholeMessage {
	width: 92%;
	display: flex;
}
.messageUser {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.messageText {
    color: white;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
/* Colours Taken From https://github.com/VictimCrasher/static/tree/master/WaveTournament */
.unknown { color: yellow; }
.bot { color: #FF66AA; }
.left { color: var(--red); }
.right { color: var(--blue); }

/* Scrollbar */
::-webkit-scrollbar { width: 0px; display: none; }
::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
	visibility: 0;
}
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0);
	border-radius: 10px;
}
.text{
    display: flex;
    justify-content: center;
}


/* Control Panel */
#controlPanel {
    position: absolute; left: 0; top: 1080px;
    width: 1920px; height: 300px;
    background-color: #121212;
}
.controlPanelItems { 
    position: absolute;
}
#controlPanelTitle {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 24px;
    width: inherit;
    text-align: center;
    color: white;
}
/* Commentators */
#controlPanelCommentators {
    width: 325px;
}
.controlPanelText {
    position: absolute; top: 20px;
    font-family: Lexend; font-weight: 800; font-size: 20px;
    width: inherit;
    text-align: center;
    color: white;
    font-weight: 600;
}
#commentatorNameInput1 { top: 115px; left: 60px; }
#commentatorNameInput2 { top: 155px; left: 60px; }
.controlPanelInput {
    border-radius: 20px;
    text-align: center;
    font-family: Lexend; font-weight: 400; font-size: 20px;
    width: 200px;
}
#changeCommentatorNames {
    background-color: transparent;
    border: 5px solid white; border-radius: 25px;
    color: white;
    top: 200px;
    left: 62px;
    font-family: Lexend; font-weight: 400; font-size: 18px;
    width: 200px;
    padding: 5px 20px;
}
#changeCommentatorNames:active {
    background-color: white;
    border: 5px solid white;
    color: black;
}
.controlPanelDivider {
    position: absolute;
    width: 2px; height: inherit;
    background-color: white;
    border-radius: 5px;
}
#controlPanelDivider1 { left: 324px; }
#controlPanelDivider2 { left: 649px; }
/* Round setting*/
#controlPanelCurrentRoundText {
    width: inherit; 
    text-align: center;
}
#controlPanelRoundSetting {
    position: absolute; left: 325px;
    width: 325px; height: inherit;
}
.sideRoundSetting {
    position: absolute; left: 50%; transform: translateX(-50%);
    width: inherit; text-align: center;
}
#topRoundSetting { top: 120px; }
.controlPanelRoundButton {
    font-family: Lexend; font-weight: 400; font-size: 18px;
    background-color: transparent;
    border-radius: 20px; 
    color: white;
    border: 5px solid white;
}
.controlPanelRoundButton:active {
    color: black;
    background-color: white;
}
#controlPanelRoundSetting button { width: 80px; height: 80px; }
#bottomRoundSetting { top: 210px; }
#controlPanelGrandFinalsButton { position: relative; top: -10px; }