:root {
    --blue: #16b3f8;
    --lightGray: #C2C2C2;
    --red: #ed144a;
    --yellow: #fff692;
    --mapDifficultyYellow: #ffe292;
    --lightYellow: #ffe696;
}

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/gameplay.png"); background-size: cover;
}

/* Top Section */
/* Player Detail Sections */
.playerLocation { position: absolute; top: 13px; }
#playerLeft { left: 308px; }
#playerRight { right: 308px; }

/* Player Details */
.playerRank{
    color: var(--yellow);
    font-family: 'Lexend'; font-size: 36px;
    letter-spacing: 4px;
}
#playerRightRank {
    position: absolute; right: 0; 
}

/* Player Name */
.playerName {
    width: 400px;
    position: absolute; top: 45px;
    font-family: 'IBM Plex Mono', monospace; font-size: 24px;
    color: white;
    letter-spacing: 4px;
}
#playerLeftName { left: 0; }
#playerRightName { right: 0; text-align: right; }

/* Map Pick Text */
.playerMapPickText {
    width: 130px;
    font-family: 'IBM Plex Mono', monospace; font-size: 20px;
    position: absolute; top: 17px;
    letter-spacing: 1.2px;
}
#playerLeftMapPickText { 
    color: var(--red); 
    left: 127px;
}
#playerRightMapPickText { 
    color: var(--blue); 
    right: 127px; 
    text-align: right; 
}

/* Match Scores Maps */
.playerMatchScore {
    position: absolute; top: 88px; 
    width: 400px;
    display: flex;   
}
#playerLeftMatchScore { left: 6px; }
#playerRightMatchScore {
    right: -8px;
    flex-direction: row-reverse
}
/* Match Score Containers */
.playerMatchScoreSword {
    width: 34px;
    margin-right: 14.7px;
}

/* Commentators */
#commentators {
    font-family: 'Lexend';
    color: white;
}
.commentatorName {
    position: absolute; top: 127px;
    letter-spacing: 1px;
}
#commentatorName1 { right: 1100px; }
#commentatorName2 { left: 1100px; }

/* Bottom Section */
/* Cover */
#bottomSection {
    position: absolute; bottom: 0; left: 50%; transform:translateX(-50%);
    width: 1182px; height: 205px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: var(--yellow);
}

/* Map Stats */
#mapStats { 
    position: absolute; top: 18px; left: 19px;
    width: 400px;
}
.topLineStatBox {
    width: 67px; height: 61px;
    display: inline-block;
    margin-right: 2px;
}
.mapStatsTexts {
    width: inherit; 
    font-family: 'Lexend'; 
    text-align: center;
}
.mapStatsTitle {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    background-color: white;
}
.mapStatsNumber {
    height: 39px;
    line-height: 39px;
    font-size: 28px;
    background-color: var(--lightYellow)
}
#BPMStat { 
    width: 85px; 
    background-color: var(--lightGray);
}
#SRStat {
    position: absolute; top: 73px;
    background-color: white;
    font-family: 'Lexend'; font-size: 20px;
    padding: 3px 15.5px;
}

/* Map Details */
#mapDetails { 
    position: absolute; top: 17.5px; right: 16px;
    font-family: 'Lexend';
}
#currentPick {
    text-align: center;
    width: 161.5px; height: 25.5px;
    line-height: 25.5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    background-color: white;
}
.mapDetailInformation { position: absolute; right: 0;}
#mapArtistAndName {
    top: 28px;
    width: max-content;
    color: white;
    font-size: 23px;    
    letter-spacing: 2px;
}
#mapDifficulty {
    top: 58px;
    color: var(--mapDifficultyYellow);
    font-size: 16px;
    letter-spacing: 1.5px;
}
#mapSetCreator {
    top: 78px;
    color: var(--blue);
    font-size: 21px;
}
#mapModSlot {
    top: 115px;
    background-color: var(--red);
    color: white;
    width: 80px; height: 32px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}